.wrapVolunteerLogin {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #0B597DDB;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
}

.volunteerLogin {
    width: 30%;
    margin-left: 35%;
}

.vloginForm {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #FAFAFA;
    border-radius: 8px;
}
.vmenuLogin {
    padding: 0px 15px 60px 20px;
}
.vgreetLogin {
    font-size: 16px;
    color: #5F6367; 
    height: fit-content;
    font-weight: 400;
}
.vtitleLogin {
    height: fit-content;
    font-size: 24px;
    font-weight: 600;
    color:  #0080BC;
    margin-bottom: 24px;
}
.unameLogin, .pwdLogin {
    width: 100%;
}
.unameLogin label,.pwdLogin label {
    font-size: 14px;
    color: #1F1F1F;
    border: none;
    padding-left: 0;
}
.unameLogin input,.pwdLogin input {
    width: 100%;
    font-size: 14px;
    padding: 6px;
    margin: 0 0 15px 0px;
    border-radius: 3px;
    border-width: 1px;
    background-color: #FFFFFF;
} 
.btnLogin {
    margin-top: 15px;
    display: flex;
    align-items: center;
}
.btnLogin button {
    padding: 10px;
    background-color: #0080BC;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    width: 100%;
}
.gotoSignup {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.gotoSignup span{
    font-size: 14px;
    color: #99999F;
    padding: 2px 10px;
}
.gotoSignup a{
    text-decoration: none;
    color: #276EB9;
    font-weight: 500;
    font-size: 14px;
}
.hline { 
    margin-top: 30px;
    display: flex;
    justify-content: center;   
}
.hline hr { 
    margin-top: 12px;
}
.hline span {
    padding: 0px 12px;
    font-size: 14px;
    color: #99999F;
    width: 120px;
    display: flex;
    justify-content: center;
}
.btnSLogin {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.btnSLogin button {
    width: 48%;
    padding: 8px;
    font-size: 16px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 1px;
}
.btnSLogin i {
    vertical-align: middle;
    margin-right: 10px ;
}
.loginError {
    color: red;
    font-size: 14px;
    margin-top: 14px;
    text-align: center;
}
.btnCloseVLogin {
    margin-left: calc(100% + 10px);
    border: none;
    cursor: pointer;
}
.vloginFormHead {
    display: flex;
    justify-content: space-between;
}
.alertRegister {
    margin-top: 25px;
    background-color: white;
    padding: 30px 25px;
    border-radius: 8px;
}
.alertRegister span {
    font-weight: 600;
}
.alertRegister button {
    color: white;
    background-color: #276EB9;
    border: none;
    width: 100%;
    padding: 5px;
}