.wrapVProfile {
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
    width: 100%;
}
.vProfileBanner {
    border: solid;
    display: flex;
    width: 100%;
    height: 250px;
    background-color: #001C2A;
    align-items: center;
    justify-content: space-between;
    padding: 90px 150px;
}




.btnVLogout {
    background-color: rgba(0, 128, 188, 1);
    font-weight:200;
    border: none;
    border-radius: 4px;
    height: 40px;
    width: 132px;
    gap: 16px;
    padding: 10px, 20px, 10px, 20px;
    color: white;
    margin-right: 0px;
}





.wrapUserInfo {
    display: flex;
    align-items: center;
}
.userInfo {
    display: flex;
    flex-direction: column;
}
.profVIcon {
    margin: 24px;
}
.vName {
    font-size: 32px;
    color: white;
}
.vContact {
    display: flex;
    font-size: 14px;
    color: white;
}
.vContact span {
    font-size: 30px;
    margin: -20px 8px;
}
.vProfNav {
    margin: 10px 150px;
    padding: 12px 5px 8px 5px;
}
.vpNavItem {
    text-decoration: none;
    padding: 10px 10px;
    font-size: 14px;
    color: #686C73;
}
.selectedTab {
    text-decoration: none;
    padding: 10px 10px;
    font-size: 14px;
    color: #006FA2;
    font-weight: 600;
    border-bottom: solid 2px #006FA2;;
} 
.vpContent {
    margin: 10px 150px;
}


.gray-horizontal-line {
    border: 0;
    border-top: 1px solid gray; 
    width: 91vw;
    margin: 8px 0; 
}